# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.venv
pip-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# DigitalOcean specific
.do/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
